<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Historico | INVMOBI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='dist/css/output.css') }}" />
      
  </head>
  <body>
    <header class="absolute inset-x-0 top-0 z-50">
      <nav
        class="flex items-center justify-between p-6 lg:px-8"
        aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img
              class="h-8 w-auto"
              src="https://jpimg.com.br/uploads/2019/05/irmc3a3os-a-obra-segunda-temporada-netflix.png"
              alt />
          </a>
        </div>
        <div class="flex lg:hidden">
          <button
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Início</a>
          {% if current_user.is_authenticated %}
          <a
            href="/simul"
            class="text-sm font-semibold leading-6 text-gray-900">Simulação</a>
          <a
            href="/historic"
            class="text-sm font-semibold leading-6 text-gray-900">Histórico</a>
          {% endif %}
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          {% if not current_user.is_authenticated %}
          <a
            href="/signin"
            class="text-sm font-semibold leading-6 text-gray-900">Fazer Login
            <span aria-hidden="true">&rarr;</span>
          </a>
          {% endif %} {% if current_user.is_authenticated %}
          <a href="/logout" class="navbar-item"> Logout </a>
          {% endif %}
        </div>
      </nav>
    </header>
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true">
        <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        </div>
        <div class="text-center">
          <h1
            class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Histórico</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Aqui você poderá
            visualizar todas as suas simulações antecedentes </p>
          <div class="mt-10 flex flex-col items-center gap-4">
            {% for item in data %}
              <!-- CARD com as informacoes -->
                  <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Simulação {{ item.id }}</h1>
                      <p class="text-sm text-gray-500 dark:text-gray-400">Data: {{ item.created_at }}</p>
                      <p class="text-sm text-gray-500 dark:text-gray-400">Valor do imóvel: R$ {{ item.valor_aluguel_imovel }}</p>
                      <p class="text-sm text-gray-500 dark:text-gray-400">Valor do aluguel: R$ {{ item.valor_compra_imovel }}</p>
                      <p class="text-sm text-gray-500 dark:text-gray-400">Entrada do imovel: R$ {{ item.entrada_imovel }}</p>
                      <p class="text-sm text-gray-500 dark:text-gray-400">Tempo imovel: {{ item.tempo_imovel }}</p>
                      <span class="text-sm font-semibold  text-white">A soma do aluguel até o tempo desejado: {{ item.somatorio_aluguel }}</span>
                      <span class="text-sm font-semibold  text-white">O total pago pela compra até o tempo desejado: {{  item.total_pago_pela_compra }} </span>
                      <span class="text-sm font-semibold  text-white">A melhor opção no tempo desejado é:   {{ item.opcao }}</span>
                      <span class="text-sm font-semibold  text-white">O tempo que leva para o aluguel ser mais vantajoso que a compra:  {{ item.compensar_aluguel }}</span>
                      <span class="text-sm font-semibold  text-white">O quanto foi pago de aluguel até o tempo analisado:   {{ item.soma_aluguel }}</span>

                      
                      </div>
                    </div>


            {% endfor %}
          </div>

        </div>
      </div>
    </body>
  </html>